 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-fondo:pink;
    --color-principal:#0F2B52;
    --color-secundario: #719ddb;
    --espacio:16px;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--color-fondo);
}
img, video{
    max-width: 100%;
    height: auto;
}
h1, h2, h3 {
    color: var(--color-principal);
    line-height: 1.25;
}
h2{
    font-size: 1.6rem;
    margin-bottom:var(--espacio) ;
    border-bottom: 3px solid var(--color-secundario);
}